<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="logPath">target/cucumber-reports/log</Property>
    </Properties>
    
	<CustomLevels>
		<CustomLevel name="LOG" intLevel="100" />
	</CustomLevels>
	
    <Appenders>
        <RollingFile name="RollingFile" filename="${logPath}/cucumber.log" filepattern="${logPath}/cucumber.log">
            <PatternLayout pattern="%d{yyyy-MM-dd-HH:mm:ss}  [%t] %-5level %logger{36} - %msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB" />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingFile>
    </Appenders>
    
    <Loggers>
        <Root>
        	<AppenderRef ref="RollingFile" level="log"/>
        </Root>
    </Loggers>
</Configuration>